body{
    overflow: hidden;
    margin: 0px;
    height:1900px;
    /*background: linear-gradient(180deg, #FF8934 0.01%, #FFFFFF 0.02%, rgba(255, 158, 87, 0.619805) 0.03%, rgba(255, 255, 255, 0.255208) 95.31%), #FF3131;*/
    background: -webkit-linear-gradient(to right, #de6262, #ffb88c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #de6262, #ffb88c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-y: scroll; /* scroll */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family: 'Signika';
}

body::-webkit-scrollbar {
    display: none;
}
header{
    width: 100%;
    height: 175px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s;
    background-color: transparent;
    z-index: 8000;
}
a{
    text-decoration: none;
    text-decoration-color: none;
    color: #000000;
}
.sticky{
    transition: 0.4s;
    height: 90px;
    position: fixed;
    justify-content: center;
    background: rgb(0, 0,0, 0.5);
    color: white;
}
.sticky .logobox {
    display: none;
    width: 0px;
    transition: 0.3;
}
.sticky .menu{
    margin-right: 0px;
}
.sticky .stick{
    width: 1px;
    background-color: #FFFFFF;
}
.sticky a{
    color: #FFFFFF;
}
.logobox{
    margin-left: 60px;
    width: auto;
    max-width: 150px;
}
.logo{
    width:100%;
    height: auto;
}
.menu{
    margin-left: 30px;
    margin-right: 60px;
    width: 600px;
    min-width: 475px;
    height: auto;
    font-size: 25px;
    z-index: 6000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
}
.stick{
    height: 42px;
    width: 2px;
    background-color: black;
}
.presentation{
    top: 0px;
    padding-top: 200px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainlogo{
    width: 567px;
    height: auto;
    margin-top:50px ;
    margin-bottom: 40px;
}
.prstxt{
    font-size: 20px;
    font-weight: 400;
    width: 90%;
    margin-top: 20px;
    font-family: 'Signika';
    color: #FFFFFF;
}
.tit{
    padding-bottom: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 100px;
}
.txtvid{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.txt{
    margin-right: 5%;
    width: 50%;
}
.montys{
    width: 70%;
    height: auto;
}
.montysbox{
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gmap{
    width: 800px;
}
#gmap_canvas{
    width: 100%;
    height: 300px;
}
.bills{
    background-color: #ff7e5f;
    border: none;
    border-radius: 30px;
    padding: 8px;
    color: #ffffff;
    font-family: 'Signika';
    font-size: 18px;
    font-weight: 500;
}
.bills:hover{
    background-color: #ff4442;
    font-weight: 700;

}
.bills:active{
    color: #FFFFFF;
}
.menu :hover{
    font-weight: 700;
}






@media (max-width:700px) {
    body{
        overflow: hidden;
        margin: 0px;
        width: 100%;
        height: 1500px;
        background: -webkit-linear-gradient(to right, #de6262, #ffb88c); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #de6262, #ffb88c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        overflow-y: scroll; /* scroll */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        font-family: 'Signika';
    }
    
    body::-webkit-scrollbar {
        display: none;
    }
    header{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        background-color: transparent;
    }
    #myHeader{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    a{
        text-decoration: none;
        text-decoration-color: none;
        color: #000000;
    }
    .sticky{
        transition: 0.4s;
        width: 100%;
        height:90px;
        display: flex;
        justify-content: center;
        background: rgb(0, 0,0, 0.5);
        color: white;
        z-index: 8000;
    }
    .sticky .logobox {
        display: none;
        transition: 0.3;
    }
    .sticky .stick{
        width: 1px;
        background-color: #FFFFFF;
    }
    .sticky a{
        color: #FFFFFF;
    }
    .logo{
        display: none;
    }
    .menu{
        width:100%;
        max-width: 350px;
        min-width: 335px;
        margin-right: -50;
        margin-left: 0px;
        height: auto;
        font-size: 18px;
        z-index: 6000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #000000;
    }
    .stick{
        height: 20px;
        width: 1px;
        background-color: black;
    }
    .presentation{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mainlogo{
        width: 80%;
        height: auto;
        margin-top:10px ;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    .prstxt{
        font-size: 20px;
        width: 90%;
        margin-top: 20px;
        font-family: 'Signika';
        color: #FFFFFF;
    }
    .tit{
        padding-bottom: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 2em;
    }
    .txtvid{
        width: 100%;
        display:block;
        align-items: center;
        margin: 0px;
    }
    .txt{
        width: 100%;
        font-size: 18px;
    }
    .montys{
        width: 70%;
        height: auto;
    }
    .montysbox{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }
    .gmap{
        width: 80%;
        padding-bottom: 50px;
    }
    #gmap_canvas{
        width: 100%;
        height: auto;
    }
    .bills{
        background-color: #ff7e5f;
        border: none;
        border-radius: 30px;
        padding: 8px;
        color: #ffffff;
        font-family: 'Signika';
        font-size: 18px;
        font-weight: 500;
    }
    .bills:hover{
        background-color: #ff4442;
    }
    .bills:active{
        color: #FFFFFF;
        font-weight: 600;
    }
    
}



